div{
    display: flex;
    flex-wrap: wrap;
}
div a{
    background-color: #f0f0f0;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, background-color 0.3s ease; 

}

div a:hover{
     background-color:  #EF3340;
     color: white;
}